<div class="container">
  <div>
    <h1>Hello World!</h1>
  </div>
  <div>
    <h3>This part is definitely under construction still, <br>
      but if you found your way here, take a look <br>
       at these projects:</h3>
  </div>
  <div class="col-md-4 java project-card">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <h3 class="card-title text-center">2D Java Game</h3>
        <p class="card-text flex-grow1 darker-p">A 2D game about a racoon on an adventure, inspired by the class Legend of Zelda on NES. Built using Java.</p>
        <div class="text-center">
          <a href="https://mm-japan.github.io/ajax-movie-search/" target="_blank" class="btn btn-primary">Try demo</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 python project-card">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <h3 class="card-title text-center">Find the Fruit!</h3>
        <p class="card-text flex-grow1 darker-p">An English language learning game for children. Built using my own custom AI model in django using python and tailwind CSS.</p>
        <div class="text-center">
          <a href="https://mm-japan.github.io/ajax-movie-search/" target="_blank" class="btn btn-primary">Find the fruit!</a>
        </div>
      </div>
    </div>
  </div>
</div>
